<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">information</h2>
        <p>
            The best ideas can change who we are. Thunder is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where over 100 million readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.
        </p>
        <p class="text">
            <span>Sub Head:</span>
            Together with millions of collaborators, we’re building a trusted and vibrant ecosystem fueled by important ideas and the people who think about them.
        </p>
        <div class="form-field">
            <input type="submit" class="account" routerLink="/login" value="Have an Account?">
        </div>
    </div>
    <form class="form-right"  (ngSubmit)="onSubmit()" [formGroup]="regesterForm">
        <h2 class="text-uppercase">Registration form</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>First Name</label>
                <input type="text" name="first_name" formControlName="first_name" class="form-control" id="first_name" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="last_name" formControlName="last_name" class="form-control" id="last_name" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" formControlName="email" class="form-control" name="email" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="pwd"  formControlName="password" class="form-control"id="pwd" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Confirm Password</label>
                 <input type="password" name="cpwd"  class="form-control" id="cpwd" class="input-field">
            </div>
           
        </div>

        <div class="row">
            <div class="col-sm-6 mb-3">
                <label class="option">Is Admin
                    <input type="checkbox"  formControlName="isadmin">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                <input type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
  </div>