<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">THUNDER</h5> <small class="para">Login to your cool account below.</small>
                </div>
                <form class="signup" [formGroup]="signupForm">
                    <div class="form-group"><input type="text"  formControlName="email"  class="form-control" placeholder="Username"></div>
                    <div class="form-group"><input type="password"   formControlName="password" class="form-control" placeholder="password"></div> <button type="button" (click)="login()" class="btn btn-primary">Login</button>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <a href="#"><p class="text-left pt-2 ml-1">Forgot password?</p></a>
                        </div>
                        <div class="col-6 col-sm-6">
                           <a  routerLink="/registration"> <p class="text-right pt-2 mr-1">Sign Up Now</p></a>
                        </div>
                     </div> 
                     <!-- <span class="text-center">Or</span> <span class="text-center pt-3">Login Using</span> -->
                    <!-- <div class="row">
                        <div class="d-flex mx-auto pt-1 pb-3"> <a href="#"><i class="fab fa-facebook"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-linkedin"></i></a> </div>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>